.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.nav-item{
    font-size: 25px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 20px;
}
.cat1{
    
    background-image: linear-gradient(to right, orangered 50%, orange 100%);
}
.cat2{
    background-color: orchid;
    /* background-image: linear-gradient(to right, orchid 60%,#da70d4 100% ); */
}
.cat3{
    /* background-color: blue; */
    background-image: linear-gradient(to right, blue 0%, rgb(19, 100, 151) 100%);
}
.categories h1{
    color: white;
    
}
.categories img{
    width: 110px;
}
.card{
    border: none;
    box-shadow: 10px 10px 30px lightblue;
    border-radius: 10px;
}